body {
  font-family: "IBM Plex Mono", monospace;
  background-color: #212737;
  color: white;
  text-align: left;
  padding: 20px;
}

.navbar {
  margin-bottom: 20px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
