body {
  font-family: "Courier", sans-serif;
  background-color: powderblue;
  color: black;
  text-align: left;
  padding: 20px;
}

.navbar {
  margin-bottom: 20px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
