body {
  font-family: "Courier", sans-serif;
  background-color: #f0f0f0;
  color: #333;
  text-align: center;
  padding: 20px;
}

.navbar {
  margin-bottom: 20px;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
